<%- include("../partials/header") %>

<div class="container">
	<div class="row">
<h1 style="text-align: center">
	Add new Comment to <%= campground.name %>
</h1>
	<div style="width: 30% ; margin: 35px auto;">

<form action="/campgrounds/<%= campground._id %>/comments" METHOD="POST">
<div class="form-group">
	<input class="form-control" type="text" name="comment[text]" placeholder="text" minlength="6" required>
		</div>
	<button class="btn btn-lg btn-primary btn-block">
		SUBMIT
	</button>
	</form>
	<button onclick="javascript:history.back()" class="btn btn-lg btn-secondary btn-block">&#60; Back
	</button>

</div>
</div>
</div>
<%- include("../partials/footer") %>